/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media only screen and (max-width: 600px) {
}
section { 
  max-width: 1000px; 
  margin: 10px auto;
  padding: 0 20px;
}
img {
  width: 100%;
}
body {
  background-color: #151515;
  color: #faf9f6;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
h1 {
  font-size: 56px;
  color: #faf9f6;
  font-family: 'Roboto Serif', sans-serif;
  text-align: center;
  border: 3px solid grey;
  padding: 15px 15px;
}
h1 a {
  font-family: 'Roboto Condensed', sans-serif;
  color: #faf9f6;
  text-decoration: none;
  font-size: 56px;
}
h2 {
  font-size: 30px;
  font-style: italic;
  font-weight: light;
  text-align: center;
  font-family: 'Roboto Serif', sans-serif;
}
h2 a{
  background: grey;
  color: #faf9f6;
  font-family: 'Shippori Antique B1', sans-serif;
  padding: 20px 50px;
  text-decoration: none;
  text-align: center;
}
h2 a:hover {
  background: #a63d40;
}
h3 {
  font-size: 18px;
  text-align: center;
  font-family: 'Roboto Serif', sans-serif;
}
footer {
  background-color: black;
  color: #faf9f6;
  font-family: 'Roboto Serif', sans-serif;
  padding-left: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
ul li, p {
  list-style: circle;
  font-family: 'Shippori Antique B1', sans-serif;
  font-size: 18px;
  color: #faf9f6;
}
nav ul {
  display: block;
  margin: auto;
  list-style: none;
  text-align: center;
}
#sidenav, .contacts {
  color: #faf9f6;
  text-decoration: none;
  font-family: 'Shippori Antique B1', sans-serif;
  font-size: 28px;
  font-style: italic;
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 200px;
}
.center-frog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: rotation 2s infinite linear;
}
.center-links {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.frog {
  margin-top: 100px;
  width: 150px; 
  height: 100px;
}
.speen {
animation: rotation 2s infinite linear;
}
@keyframes rotation {
from {transform: rotate(0deg);} to {transform: rotate(359deg);}
}
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
}
.pages {
  position: relative;
  width: 100%;
  margin: 10px;
}
.text {
  white-space: nowrap; 
  color: #faf9f6;
  font-family: 'Shippori Antique B1', sans-serif;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(233, 184, 114, 0.6);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(166, 61, 64, 0.6);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(144, 169, 89, 0.6);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.overlay4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(167, 166, 186, 0.6);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.pages:hover .overlay1, .pages:hover .overlay2, .pages:hover .overlay3, .pages:hover .overlay4 {
  width: 100%;
}
.me {
  border: 3px double grey;
  border-radius: 5px;
  display: block;
  width: 75%;
  margin: auto;
}
.float1 {
  position: relative;
  float: left;
}
.float2 {
  position: relative;
  float: right;
}
.tablink {
  background-color: grey;
  color: #faf9f6;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 18px;
  width: 25%;
}
.tablink:hover {
  background-color: rgb(97, 84, 84);
}
.tabcontent {
  color: #faf9f6;
  display: none;
  padding: 100px;
  text-align: center;
}
#Lauren-Shiba {
  background-color: #a96959;
}
#Time-Force {
  background-color: #cc6eab;
}
#TJ {
  background-color:#a1283c;
}
#Jack {
  background-color:#8f0018;
}
#Zack-Taylor {
  background-color:black;
}
#Trini-Kwan {
  background-color: #e9b872;
}
#Replacements {
  background-color:#a96959;
}
#David-Yost {
  background-color: #6e91cc;
}
#Izzy {
  background-color: #6ecc77;
}
#sidenav a{
  position: absolute;
  right: -100px;
  transition: 0.3s;
  padding: 20px 25px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  color: #faf9f6;
  background-color: #6494aa;
  font-family: 'Shippori Antique B1', sans-serif;
  font-weight: lighter;
  margin: auto;
  text-align: center;
}
#sidenav a:hover {
  right: 0;
}
#sidenav.active {
  right: 0;
  background: #2494c7;
}
#about {
  top: 20px;
}
#contact {
  top: 100px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

